<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>user login test</title>
</head>
<style>
  .layout {
    width: 500 px;
    margin: 0 auto;
  }
</style>
<script>
  function buttonHandler(){

  }
</script>
<body>
  <div class="layout">
    user ID : <input type="text"/><br/>
    user PW : <input type="password"/><br/>
    <button onClick={buttonHandler}>Login</button>
  </div>
</body>
</html>